* {
  margin: 0;
  padding: 0;
}

// <weight>: Use a value from 200 to 900
// <uniquifier>: Use a unique and descriptive class name

.inconsolata-<uniquifier> {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.supermercado-one-regular {
  font-family: "Supermercado One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


html {
  background-color: #fff7ec;
  color: #28544b; 
  line-height: 1.4;
  font-size: 20px;
}

body {
  display: flex; 
  flex-direction: column; 
  font-family: "Inconsolata", monospace; 
}

main {
  padding: 1.5rem; 
}

nav {
  display: flex;
  flex-direction: row-reverse; 
  align-items: flex-end;
  gap: 1rem; 
  padding: .5rem 1.5rem; 
  background-color:  #acbd86;
  color: #28544b;
  height: 2rem; 
}

nav a {
  color: #112A46; 
  text-decoration: none;
}


img {
 height: auto;  
}

p {
  padding: 1rem; 
}

ul {
  padding-left: 1rem; 
}

footer {
  background-color: #acbd86; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  font-size: 16px;
}

a {
  padding: .5rem; 
}

h1 {
  font-family: "Supermercado One", sans-serif; 
  font-size: 45px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  font-family: serif; 
}

h2 {
  font-family: "Supermercado One", sans-serif; 
  font-size: 35px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  font-family: serif; 
  padding: 1rem; 

}

h3 {
  font-size: 30px;
  display: flex;
  align-items: start; 
  font-family: serif; 
}

.koa-gallery {
  display: flex;
  justify-content: center;  
  height: auto; 
  width: auto; 
  gap: 1rem; 
}
